<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HighRVA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/css/main.css" />
</head>
<body id="products">

    <div id="page-mask">

    </div>

    <div id="splash-cart">
        <div id="splash-title">
            <h3>Your Cart</h3>
            <img src="" alt="" class="logo">
            <img src="/styles/images/outline-cancel-24px.svg" id="close-cart" alt="close">
        </div>
        <div id="products">
            <ul class="list-group list-group-flush" id="order-list-products">
            </ul>
        </div>
        <div>
            <a id="checkout" href="">
                <span>Checkout</span>
            </a>
        </div>
    </div>
    
    <div class="container-fluid">

        <div id="nav">

            <div>
                <a href="/profile" id="profile-nav">
                    <img src="/styles/images/outline-account_box-24px.svg" data-tool-tip="profile" alt="profile">
                </a>
                <a href="/products" class="menu">
                    <img src="/styles/images/productlogo.png" data-tool-tip-"menu" alt="menu">
                </a>
            </div>

            <div>
                <a id="nav-logo" href="/home"> <img src="/styles/images/HighRvaWhite.png" alt="logo"> </a>           
            </div>

            <div id="user-nav">
                <a class="select" id='register' href="">
                    Register
                </a>
                <a class="select" id='login' href="">
                    Login
                </a>
                <a id='logout' href="/logout">
                    Logout
                </a>
                <a id='cart' href="">
                    <img src="/styles/images/outline-shopping_cart-24px.svg" alt="">
                </a>
            </div>
        </div> <!--nav closer-->

        <div id="main-content" class="row" style="background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../styles/images/productbg1.jpg); background-size: cover;">
        <div class="col-md-4 col-sm-5 col-11 col">
            
            <div class="card">
                <a href="" id="flower">
                    <div class="card-body">
                        <span>Flowers</span> 
                    </div>
                </a>
            </div>
        
        </div>
        <div class="col-md-4 col-sm-5 col-11 col">
            <div class="card">
                <a href="" id="edible">
                    <div class="card-body">
                        <span>Edibles</span> 
                    </div>
                </a>   
            </div>
        </div>
        <div class="col-md-4 col-sm-5 col-11 col">
            <div class="card">
                <a href="" id="concentrate">
                    <div class="card-body">
                        <span>Concentrates</span> 
                    </div>
                </a>   
            </div>
        </div>
    </div>

    <div class="row" id="products-row">

            <h3>Flowers</h3>

            <div class="row flower-row">
                
                <div class="col-md-4 product-col">
                    <div class="card">
                        <div class="img-product" style="background-image: url(../styles/images/bubbakush.jpg); background-size: cover; background-position: center;"></div>
                        <div class="card-body">
                            <h5 class="card-title">BUBBA KUSH <br>($17/GRAM)</h5>
                            <p class="card-text">An indica strain that has gained notoriety in the U.S. and beyond for its heavy tranquilizing effects.</p>
                            <a href="" id="add-to-cart" data-id="1" data-name="Bubba Kush" data-price="17" data-quantity="1" data-image="images/bubbakush.jpg">
                                <span>Add To Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col product-col">
                    <div class="card">
                        <div class="img-product" style="background-image: url(../styles/images/mauiwowie.jpg); background-size: cover; background-position: center;"></div>
                        <div class="card-body">
                            <h5 class="card-title">MAUI WOWIE <br>($20/GRAM)</h5>
                            <p class="card-text">A classic sativa whose tropical flavors and stress-relieving qualities will float you straight to the shores of Hawaii.</p>
                            <a href="" id="add-to-cart"  data-id="1" data-name="Maui Wowie" data-price="20" data-quantity="1" data-image="images/mauiwowie.jpg">
                                <span>Add To Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col product-col">
                    <div class="card">
                        <div class="img-product" style="background-image: url(../styles/images/classicblueberry.jpg); background-size: cover; background-position: center;"></div>
                        <div class="card-body">
                            <h5 class="card-title">CLASSIC BLUEBERRY <br>($18/GRAM)</h5>
                            <p class="card-text">The sweet flavors of fresh blueberries combine with relaxing effects to produce a lasting sense of euphoria.</p>
                            <a href="" id="add-to-cart" data-id="1" data-name="Classic Blueberry" data-price="18" data-quantity="1" data-image="images/classicblueberry.jpg">
                                <span>Add To Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-col">
                    <div class="card">
                        <div class="img-product" style="background-image: url(../styles/images/cbdcriticalcure.jpg); background-size: cover; background-position: center;"></div>
                        <div class="card-body">
                            <h5 class="card-title">CBD CRITICAL CURE <br>($17/GRAM)</h5>
                            <p class="card-text">An indica-dominant strain that’s said to combine Critical Kush with a ruderalis variety.</p>
                            <a href="" id="add-to-cart" data-id="1" data-name="CBD Critical Cure" data-price="17" data-quantity="1" data-image="images/cbdcriticalcure.jpg">
                                <span>Add To Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/fruitypebbles.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title">FRUITY PEBBLES OG <br>($16/GRAM)</h5>
                                <p class="card-text">This sweet hybrid takes genetics from Green Ribbon, Granddaddy Purple, and Tahoe Alien.</p>
                                <a href="" id="add-to-cart" data-id="1" data-name="Fruity Pebbles OG" data-price="16" data-quantity="1" data-image="images/fruitypebbles.jpg">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>

            </div> <!-- flower closer -->

            <div class="edible-row"></div>

            <h3>Edibles</h3>

            <div class="row">
                        
                    <div class="col-md-4 product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/PassionFruitGummy.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title">PASSION FRUIT GUMMIES <br>($7/PACK)</h5>
                                <p class="card-text">The juicy burst of Passion Fruit is captured in this infused Gummy. Four per package, 10mg each.</p>
                                <a href="" id="add-to-cart" data-id="1" data-name="Passion Fruit Gummies" data-price="7" data-quantity="1" data-image="images/PassionFruitGummy.jpg">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/SmoresTruffles-Indica.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title">S'MORE TRUFFLE - INDICA <br>($3/TRUFFLE)</h5>
                                <p class="card-text">A classic dessert favorite! Enjoy this 10mg treat while relaxing around the fire, no roasting necessary! </p>
                                <a href="" id="add-to-cart" data-id="1" data-name="S'mores Truffle - Indica" data-price="3" data-quantity="1" data-image="images/SmoresTruffles-Indica.jpg">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/PeanutBuddaBuddhaBar.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 19px">PEANUT BUDDA BUDDHA BAR <br>($24/BAR)</h5>
                                <p class="card-text">A milk chocolate bar blended with peanut butter and salty pretzels. 100mg per bar.</p>
                                <a href="" id="add-to-cart"data-id="1" data-name="Peanut Budda Buddha Bar" data-price="24" data-quantity="1" data-image="images/PeanutBuddaBuddhaBar.jpg">
                                    <span >Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/StrawberriesAndCreamLozenges.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title">STRAWBERRY LOZENGES <br>($14/PACK)</h5>
                                <p class="card-text">Entice your taste buds with refreshing fruit flavor. Each long lasting with eight per pack, 10mg each.</p>
                                <a href="" id="add-to-cart" data-id="1" data-name="Strawberry Lozenges" data-price="14" data-quantity="1" data-image="images/StrawberriesAndCreamLozenges.jpg">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-col">
                            <div class="card">
                                <div class="img-product" style="background-image: url(../styles/images/MimosaGummy.jpg); background-size: cover; background-position: center;"></div>
                                <div class="card-body">
                                    <h5 class="card-title">MIMOSA GUMMIES <br>($7/PACK)</h5>
                                    <p class="card-text">These delicious gummy treats will remind you of your favorite brunch cocktail. Four per pack, 10mg each.</p>
                                    <a href="" id="add-to-cart" data-id="1" data-name="Mimosa Gummies" data-price="7" data-quantity="1" data-image="images/MimosaGummy.jpg">
                                        <span>Add To Cart</span>
                                    </a>
                                </div>
                            </div>
                        </div>
            </div>       

            <div class="concentrate-row"></div>

            <h3>Concentrates</h3>

            <div class="row">
                            
                    <div class="col-md-4 product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/PurePieCrust.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title">PURE PIE CRUST <br>($40/GRAM)</h5>
                                <p class="card-text">This concentrate is whipped for a smoother, creamier consistency after vacuum purging.</p>
                                <a href="" id="add-to-cart" data-id="1" data-name="Pure Pie Crust" data-price="40" data-quantity="1" data-image="images/PurePieCrust.jpg">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/HarmonyLiveNectarSauce.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title">HARMONY NECTAR SAUCE <br>($70/GRAM)</h5>
                                <p class="card-text">Nectar Sauce contains crystallized THC “diamonds” worthy of a ring, sitting in a terpene liquid.</p>
                                <a href="" id="add-to-cart" data-id="1" data-name="Harmony Nectar Sauce" data-price="70" data-quantity="1" data-image="images/HarmonyLiveNectarSauce.jpg">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/PureShatter.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title">PURE SHATTER <br>($42/GRAM) </h5>
                                <p class="card-text">A milk chocolate bar blended with peanut butter and salty pretzels. 100mg per bar.</p>
                                <a href="" id="add-to-cart" data-id="1" data-name="Pure Shatter" data-price="42" data-quantity="1" data-image="images/PureShatter.jpg">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-col">
                        <div class="card">
                            <div class="img-product" style="background-image: url(../styles/images/PureWax.jpg); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title">PURE WAX <br>($35/GRAM)</h5>
                                <p class="card-text">A solvent-extracted concentrate with a dry, crumbly appearance, our Wax delivers superb quality. </p>
                                <a href="" id="add-to-cart" data-id="1" data-name="Pure Wax" data-price="35" data-quantity="1" data-image="images/PureWax.jpg">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-col">
                            <div class="card">
                                <div class="img-product" style="background-image: url(../styles/images/NomadExtractsLiveResin.jpg); background-size: cover; background-position: center;"></div>
                                <div class="card-body">
                                    <h5 class="card-title">NOMAD LIVE RESIN <br>($40/GRAM)</h5>
                                    <p class="card-text">Nomad Live Resin provides bigger diamonds than a jeweler, soaking in the tasty terpenes.</p>
                                    <a href="" id="add-to-cart" data-id="1" data-name="Nomad Live Resin" data-price="40" data-quantity="1" data-image="images/NomadExtractsLiveResin.jpg">
                                        <span>Add To Cart</span>
                                    </a>
                                </div>
                            </div>
                        </div>
    
            </div>  <!--products-container closer-->

        </div> <!-- products closer -->

        <div id="footer">

            <footer class="page-footer font-small blue">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                    <a href="">HighRVA</a>
                </div>
                <!-- Copyright -->
                    
            </footer>
        </div>


    </div> <!-- container closer -->


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <script type="text/javascript">

        // navbar
        function changeCss1 () {
            let rgba1 = "rgba(0,0,0,0)"
            let rgba2 = "rgba(0,0,0,0.3)"
            var bodyElement = document.querySelector("#nav");
            this.scrollY < 1 ? bodyElement.style.background = rgba1: bodyElement.style.background = rgba2;
        };
        
        function changeCss2 () {
            const bodyElement = document.querySelector("#nav");
            this.scrollY < 500 ? bodyElement.style.opacity = 1: bodyElement.style.opacity = 0;
        };
        
        // let home = document.getElementById("home")

        window.addEventListener("scroll", changeCss1, false);
        window.addEventListener("scroll", changeCss2, false);
        
        
    </script>
</body>
</html>